############################
# IDE / Android Studio / IntelliJ
############################
.idea/
*.iml
*.ipr
*.iws

############################
# Gradle / build outputs
############################
.gradle/
**/build/
**/out/
captures/
.externalNativeBuild/
.cxx/

############################
# Local config files
############################
local.properties
gradle.properties
*.keystore
*.jks

############################
# OS / misc
############################
.DS_Store
Thumbs.db
*.log
